<div class="container sxs">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="side-wrapper">
        <div class="image text-center">
          <img src="images/call.svg" alt="call">
        </div>
        <div class="text text-center">
          <p>You may be scared and have made a decision full of worry and stress.</p>
          <p><span>Talk to a medical professional now.</span></p>
          <p><a href="tel:1-877-558-0333">1-877-558-0333</a></p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="side-wrapper ">
        <div class="image text-center">
          <img src="images/discussion.svg" alt="chat">
        </div>
        <div class="text text-center">
          <p>Have questions about the abortion pill reversal? It may not be too late.</p>
          <p>Get more info:</p>
          <p><a href="https://abortionpillreversal.com" target="_blank" rel="noreferrer noopener">abortionpillreversal.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
