<footer class="footer">
  <div class="container-fluid top">
    <div class="row">
      <div class="col-12 col-md-8 mx-auto text-center">
        <p>Sponsored by: <a href="https://abortionpillreversal.com/?utm_source=CRTL&utm_medium=billboard&utm_campaign=Reverse+Chemical+Abortion&utm_content=link+from+landing+page">Cincinnati Right to Life</a></p>
      </div>
    </div>
  </div>
  <div class="container bottom">
    <div class="row">
      <div class="col-6-col col-lg-4 mx-auto">
        <div class="logo text-center"><img src="images/logo.png" alt=""></div>
      </div>
    </div>
  </div>
</footer>
