<div class="container-fluid header">
  <div class="row">
    <div class="col-12 mx-auto">
      <p class="text-center mb-0">Get Help Now: <a href="tel:1-877-558-0333">1-877-558-0333</a></p>
    </div>
  </div>
</div>
